body, a, p, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:rgb(22, 22, 22);
  margin: 0 auto;
}

header {
  background: fixed #000e16 url("../images/Header/Layer 6.png") center top/100% no-repeat;
  height: 1086px; 
}

.header {
  width: 1198px;
  margin: 0 auto;
}

.Sublime {
  font-size: 202px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: -10px;
  line-height: 0.8;
  text-align: left;
/*  transform: matrix(3.3689473496991, 0, 0, 3.3689473496991, 0, 0);
  -moz-transform: matrix(3.3689473496991, 0, 0, 3.3689473496991, 0, 0);
  -webkit-transform: matrix(3.3689473496991, 0, 0, 3.3689473496991, 0, 0);
  -ms-transform: matrix(3.3689473496991, 0, 0, 3.3689473496991, 0, 0); */
  padding-left: 27px;
  padding-top: 126px;
}

.Sublime1 {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  padding-left: 42px;
}

.Download_the_psd {
  padding-left: 42px;
  padding-top: 20px;
}

.Download_the_psd a {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(255, 198, 0);
  line-height: 1.2;
  text-align: left;
}

.Download_the_psd a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 198, 0);
  text-decoration: none;
}

.We_create__Awesome_Games {
  font-size: 60px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 0.8;
  text-align: left;
  position: static;
  padding-left: 35px;
  padding-top: 65px;
}

/* Первые буквы */
.Sublime span,
.Sublime1 span,
.We_create__Awesome_Games span {
  color: rgb(255, 198, 0);
}

.Layer_5 {
  background:rgb(255, 255, 255) url("../images/Header/Layer 5.png") center center/cover no-repeat;
  position: absolute;
  top: 432px;
  width: 1198px;
  height: 654px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.navbar {
  padding-top: 25px;
}
.navbar-nav {
  padding-left: 18px;
}

.nav li a {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(255, 198, 0);
  line-height: 1.2;
  text-align: left;
}

.nav li a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 198, 0);
}